
body {
  background-color: #1a1a1a;
  color: white;
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
}

.main-layout {
  max-width: 500px;
  margin: 50px auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px; 
}


.add-task-box {
  background: #252525;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}


.filter-tabs {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom: 20px;
}

.tab-btn {
  background: #333;
  border: none;
  color: #aaa;
  padding: 10px 25px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.tab-btn.active {
  background: #007bff;
  color: white;
  box-shadow: 0 4px 10px rgba(0, 123, 255, 0.3);
}

.empty-text {
  text-align: center;
  font-size: 1.2rem;
  opacity: 0.6;
  margin-top: 40px;
}